@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'PT Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'PT Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'PT Sans', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #c0a375;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'PT Sans', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #c0a375;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #c0a375;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #c0a375;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #c0a375;
}
.extAccordion1 .panel-heading a {
  font-family: 'PT Sans', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #c0a375;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'PT Sans', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #c0a375 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.theme-border {
  border: 1px solid #c0a375;
}
#msg-box8-4a .mbr-section-title,
#msg-box8-4a .lead {
  color: #fff;
}
#msg-box8-4a .logo-cell {
  height: 14.5em;
  display: flex;
}
#msg-box8-4a .logo-cell h3 {
  margin: auto;
}
#msg-box8-4a .logo-cell h3 img {
  max-height: 200px;
}
#msg-box8-4a .parallax-header .btn-primary {
  min-width: 140px;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
#msg-box8-4a .parallax-header {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (min-width: 767px) {
  #msg-box8-4a .parallax-header .btn-secondary {
    width: 51%;
  }
  #msg-box8-4a .parallax-header .btn-positioning.first {
    margin-bottom: 8em;
  }
  #msg-box8-4a .parallax-header .btn-positioning.second {
    margin-top: 8em;
  }
}
@media (max-width: 767px) {
  #msg-box8-4a .parallax-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #msg-box8-4a .parallax-header .btn-positioning.first {
    float: left;
    width: 50%;
  }
  #msg-box8-4a .parallax-header .btn-positioning.second {
    float: right;
    width: 50%;
  }
}
#msg-box8-4a .parallax-header h3 img {
  max-width: 100%;
}
#header3-4c .mbr-section-title,
#header3-4c .mbr-section-subtitle {
  text-align: center;
}
#header3-4c .mbr-section-title {
  color: #ffffff;
}
#header3-4c h3.display-2 {
  font-size: 1.6em;
}
#features1-44 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box5-5r H3 {
  color: #cccccc;
}
#msg-box5-5r P {
  color: #ffffff;
}
#msg-box8-4d .mbr-section-title,
#msg-box8-4d .lead {
  color: #fff;
}
#msg-box8-4d .lead p,
#msg-box8-4d h3.display-2 {
  font-size: 25px;
}
#msg-box5-2p a {
  text-decoration: underline;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}

#msg-box8-4x .mbr-section-title,
#msg-box8-4x .lead {
  color: #fff;
}
#msg-box8-4x .btn-positioning.clear {
  visibility: hidden;
}
#msg-box8-4x .logo-cell {
  height: 14.5em;
  display: flex;
}
#msg-box8-4x .logo-cell h3 {
  margin: auto;
}
#msg-box8-4x .logo-cell h3 img {
  max-height: 200px;
}
#msg-box8-4x .mbr-section-title,
#msg-box8-4x .lead {
  color: #fff;
}
#msg-box8-4x .parallax-header .btn-primary {
  min-width: 140px;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
#msg-box8-4x .parallax-header {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (min-width: 767px) {
  #msg-box8-4x .parallax-header .btn-secondary {
    width: 51%;
  }
  #msg-box8-4x .parallax-header .btn-positioning.first {
    margin-bottom: 8em;
  }
  #msg-box8-4x .parallax-header .btn-positioning.second {
    margin-top: 8em;
  }
}
@media (max-width: 767px) {
  #msg-box8-4x .parallax-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #msg-box8-4x .parallax-header .btn-positioning.first {
    float: left;
    width: 50%;
  }
  #msg-box8-4x .parallax-header .btn-positioning.second {
    float: right;
    width: 50%;
  }
}
#msg-box8-4x .parallax-header h3 img {
  max-width: 100%;
}
#testimonials3-j .mbr-section-title {
  color: #efefef;
}
#testimonials3-j .mbr-author-name {
  color: #ccc;
}
#testimonials3-j .card-block DIV {
  font-size: 18px;
  color: #565656;
  font-family: 'Lora', serif;
}
#testimonials3-j .mbr-testimonial .card-block:after {
  display: none;
}
#form1-i .form-control-label {
  color: #232323;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #c0a375;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #0e0e0e;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-m .mbr-section-title,
#header3-m .mbr-section-subtitle {
  text-align: center;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-58 {
  /* Type valid CSS here */
}
#custom-html-58 .my-image {
  width: 100%;
}
#header3-q .mbr-section-title,
#header3-q .mbr-section-subtitle {
  text-align: center;
}
#header3-57 .mbr-section-title,
#header3-57 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-44 {
  /* Type valid CSS here */
}
#custom-html-44 .my-image {
  width: 100%;
}
#header3-45 .mbr-section-title,
#header3-45 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-46 {
  /* Type valid CSS here */
}
#custom-html-46 .my-image {
  width: 100%;
}
#header3-32 .mbr-section-title,
#header3-32 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-33 {
  /* Type valid CSS here */
}
#custom-html-33 .my-image {
  width: 100%;
}
#header3-2t .mbr-section-title,
#header3-2t .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3 .navbar-caption {
  color: #ffffff;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .close-icon::before,
#menu-3 .close-icon::after {
  background-color: #ffffff;
}
#menu-3 .link,
#menu-3 .dropdown-item {
  color: #ffffff;
}
#menu-3 .link {
  font-size: 0.75rem;
}
#menu-3 .dropdown-item,
#menu-3 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3 .link:hover,
#menu-3 .dropdown-item:hover,
#menu-3 .link:focus,
#menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-menu {
  background: #0e0e0e;
}
#menu-3 .nav-dropdown-sm .link:focus,
#menu-3 .nav-dropdown-sm .link:hover,
#menu-3 .nav-dropdown-sm .dropdown-item:focus,
#menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3 .navbar,
#menu-3 .nav-dropdown-sm,
#menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3 .bg-color.transparent.opened .link:hover,
#menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-s .mbr-section-title,
#header3-s .mbr-section-subtitle {
  text-align: center;
}
#header3-s SMALL {
  color: #000000;
}
#header3-v .mbr-section-title,
#header3-v .mbr-section-subtitle {
  text-align: center;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#extFeatures8-26 .feature-title,
#extFeatures8-26 .description {
  color: #232323;
}
#extFeatures8-26 .feature-subtitle {
  color: #8c8c8c;
}
#extFeatures8-26 .mbr-section-subtitle A {
  color: #6e551d;
}
#header3-z .mbr-section-title,
#header3-z .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#msg-box8-4w .mbr-section-title,
#msg-box8-4w .lead {
  color: #fff;
}
#msg-box8-4w .btn-positioning.clear {
  visibility: hidden;
}
#msg-box8-4w .logo-cell {
  height: 14.5em;
  display: flex;
}
#msg-box8-4w .logo-cell h3 {
  margin: auto;
}
#msg-box8-4w .logo-cell h3 img {
  max-height: 200px;
}
#msg-box8-4w .mbr-section-title,
#msg-box8-4w .lead {
  color: #fff;
}
#msg-box8-4w .parallax-header .btn-primary {
  min-width: 140px;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
#msg-box8-4w .parallax-header {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (min-width: 767px) {
  #msg-box8-4w .parallax-header .btn-secondary {
    width: 51%;
  }
  #msg-box8-4w .parallax-header .btn-positioning.first {
    margin-bottom: 8em;
  }
  #msg-box8-4w .parallax-header .btn-positioning.second {
    margin-top: 8em;
  }
}
@media (max-width: 767px) {
  #msg-box8-4w .parallax-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #msg-box8-4w .parallax-header .btn-positioning.first {
    float: left;
    width: 50%;
  }
  #msg-box8-4w .parallax-header .btn-positioning.second {
    float: right;
    width: 50%;
  }
}
#msg-box8-4w .parallax-header h3 img {
  max-width: 100%;
}
#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#header3-4q .mbr-section-title,
#header3-4q .mbr-section-subtitle {
  text-align: center;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}
#header3-1b .mbr-section-title,
#header3-1b .mbr-section-subtitle {
  text-align: center;
}
#content1-3z P {
  text-align: left;
}
#content1-1m P {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-1g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1g .navbar-caption {
  color: #ffffff;
}
#menu-1g .navbar-toggler {
  color: #ffffff;
}
#menu-1g .close-icon::before,
#menu-1g .close-icon::after {
  background-color: #ffffff;
}
#menu-1g .link,
#menu-1g .dropdown-item {
  color: #ffffff;
}
#menu-1g .link {
  font-size: 0.75rem;
}
#menu-1g .dropdown-item,
#menu-1g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1g .link:hover,
#menu-1g .dropdown-item:hover,
#menu-1g .link:focus,
#menu-1g .dropdown-item:focus {
  color: #c0a375;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-menu {
  background: #0e0e0e;
}
#menu-1g .nav-dropdown-sm .link:focus,
#menu-1g .nav-dropdown-sm .link:hover,
#menu-1g .nav-dropdown-sm .dropdown-item:focus,
#menu-1g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1g .navbar,
#menu-1g .nav-dropdown-sm,
#menu-1g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1g .bg-color.transparent.opened .link:hover,
#menu-1g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-1h .mbr-section-title,
#header3-1h .mbr-section-subtitle {
  text-align: center;
}
#header3-1s .mbr-section-title,
#header3-1s .mbr-section-subtitle {
  text-align: center;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1n .navbar-caption {
  color: #ffffff;
}
#menu-1n .navbar-toggler {
  color: #ffffff;
}
#menu-1n .close-icon::before,
#menu-1n .close-icon::after {
  background-color: #ffffff;
}
#menu-1n .link,
#menu-1n .dropdown-item {
  color: #ffffff;
}
#menu-1n .link {
  font-size: 0.75rem;
}
#menu-1n .dropdown-item,
#menu-1n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1n .link:hover,
#menu-1n .dropdown-item:hover,
#menu-1n .link:focus,
#menu-1n .dropdown-item:focus {
  color: #c0a375;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-menu {
  background: #0e0e0e;
}
#menu-1n .nav-dropdown-sm .link:focus,
#menu-1n .nav-dropdown-sm .link:hover,
#menu-1n .nav-dropdown-sm .dropdown-item:focus,
#menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1n .navbar,
#menu-1n .nav-dropdown-sm,
#menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1n .bg-color.transparent.opened .link:hover,
#menu-1n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1v .mbr-section-title,
#header3-1v .mbr-section-subtitle {
  text-align: center;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1z .mbr-section-title,
#header3-1z .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1p P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1p p strong {
  color: #EEEEEE;
}
#content5-5 .mbr-section-title,
#content5-5 p {
  color: #fff;
}
#msg-box5-55 H3 {
  color: #cccccc;
}
#msg-box5-55 P {
  color: #ffffff;
}
#msg-box2-2w .mbr-section-title {
  color: #fff;
}
#msg-box2-2w .mbr-section-subtitle {
  color: #cccccc;
}
#header3-9 .mbr-section-title,
#header3-9 .mbr-section-subtitle {
  text-align: center;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1n .navbar-caption {
  color: #ffffff;
}
#menu-1n .navbar-toggler {
  color: #ffffff;
}
#menu-1n .close-icon::before,
#menu-1n .close-icon::after {
  background-color: #ffffff;
}
#menu-1n .link,
#menu-1n .dropdown-item {
  color: #ffffff;
}
#menu-1n .link {
  font-size: 0.75rem;
}
#menu-1n .dropdown-item,
#menu-1n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1n .link:hover,
#menu-1n .dropdown-item:hover,
#menu-1n .link:focus,
#menu-1n .dropdown-item:focus {
  color: #c0a375;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-menu {
  background: #0e0e0e;
}
#menu-1n .nav-dropdown-sm .link:focus,
#menu-1n .nav-dropdown-sm .link:hover,
#menu-1n .nav-dropdown-sm .dropdown-item:focus,
#menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1n .navbar,
#menu-1n .nav-dropdown-sm,
#menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1n .bg-color.transparent.opened .link:hover,
#menu-1n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-29 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-29 .navbar-caption {
  color: #ffffff;
}
#menu-29 .navbar-toggler {
  color: #ffffff;
}
#menu-29 .close-icon::before,
#menu-29 .close-icon::after {
  background-color: #ffffff;
}
#menu-29 .link,
#menu-29 .dropdown-item {
  color: #ffffff;
}
#menu-29 .link {
  font-size: 0.75rem;
}
#menu-29 .dropdown-item,
#menu-29 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-29 .link:hover,
#menu-29 .dropdown-item:hover,
#menu-29 .link:focus,
#menu-29 .dropdown-item:focus {
  color: #c0a375;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-menu {
  background: #0e0e0e;
}
#menu-29 .nav-dropdown-sm .link:focus,
#menu-29 .nav-dropdown-sm .link:hover,
#menu-29 .nav-dropdown-sm .dropdown-item:focus,
#menu-29 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-29 .navbar,
#menu-29 .nav-dropdown-sm,
#menu-29 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-29 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-29 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-29 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-29 .bg-color.transparent.opened .link:hover,
#menu-29 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-2a .mbr-section-title,
#header3-2a .mbr-section-subtitle {
  text-align: center;
}
#contacts1-2b P {
  font-size: 14px;
  text-align: left;
}
#contacts1-2b .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-2g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2g .navbar-caption {
  color: #ffffff;
}
#menu-2g .navbar-toggler {
  color: #ffffff;
}
#menu-2g .close-icon::before,
#menu-2g .close-icon::after {
  background-color: #ffffff;
}
#menu-2g .link,
#menu-2g .dropdown-item {
  color: #ffffff;
}
#menu-2g .link {
  font-size: 0.75rem;
}
#menu-2g .dropdown-item,
#menu-2g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2g .link:hover,
#menu-2g .dropdown-item:hover,
#menu-2g .link:focus,
#menu-2g .dropdown-item:focus {
  color: #c0a375;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-menu {
  background: #0e0e0e;
}
#menu-2g .nav-dropdown-sm .link:focus,
#menu-2g .nav-dropdown-sm .link:hover,
#menu-2g .nav-dropdown-sm .dropdown-item:focus,
#menu-2g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2g .navbar,
#menu-2g .nav-dropdown-sm,
#menu-2g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2g .bg-color.transparent.opened .link:hover,
#menu-2g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#extToggle1-2m P {
  text-align: left;
}
#contacts1-2k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-2k .mbr-footer-content p strong {
  color: #eeeeee;
}
#contacts1-3c P {
  font-size: 14px;
  text-align: left;
}
#contacts1-3c .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-3d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3d .navbar-caption {
  color: #ffffff;
}
#menu-3d .navbar-toggler {
  color: #ffffff;
}
#menu-3d .close-icon::before,
#menu-3d .close-icon::after {
  background-color: #ffffff;
}
#menu-3d .link,
#menu-3d .dropdown-item {
  color: #ffffff;
}
#menu-3d .link {
  font-size: 0.75rem;
}
#menu-3d .dropdown-item,
#menu-3d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3d .link:hover,
#menu-3d .dropdown-item:hover,
#menu-3d .link:focus,
#menu-3d .dropdown-item:focus {
  color: #c0a375;
}
#menu-3d .link[aria-expanded="true"],
#menu-3d .dropdown-menu {
  background: #0e0e0e;
}
#menu-3d .nav-dropdown-sm .link:focus,
#menu-3d .nav-dropdown-sm .link:hover,
#menu-3d .nav-dropdown-sm .dropdown-item:focus,
#menu-3d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3d .navbar,
#menu-3d .nav-dropdown-sm,
#menu-3d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3d .bg-color.transparent.opened .link:hover,
#menu-3d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3d .link[aria-expanded="true"],
#menu-3d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-3h P {
  font-size: 14px;
  text-align: left;
}
#contacts1-3h .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-3i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3i .navbar-caption {
  color: #ffffff;
}
#menu-3i .navbar-toggler {
  color: #ffffff;
}
#menu-3i .close-icon::before,
#menu-3i .close-icon::after {
  background-color: #ffffff;
}
#menu-3i .link,
#menu-3i .dropdown-item {
  color: #ffffff;
}
#menu-3i .link {
  font-size: 0.75rem;
}
#menu-3i .dropdown-item,
#menu-3i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3i .link:hover,
#menu-3i .dropdown-item:hover,
#menu-3i .link:focus,
#menu-3i .dropdown-item:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-menu {
  background: #0e0e0e;
}
#menu-3i .nav-dropdown-sm .link:focus,
#menu-3i .nav-dropdown-sm .link:hover,
#menu-3i .nav-dropdown-sm .dropdown-item:focus,
#menu-3i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3i .navbar,
#menu-3i .nav-dropdown-sm,
#menu-3i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3i .bg-color.transparent.opened .link:hover,
#menu-3i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3k .navbar-caption {
  color: #ffffff;
}
#menu-3k .navbar-toggler {
  color: #ffffff;
}
#menu-3k .close-icon::before,
#menu-3k .close-icon::after {
  background-color: #ffffff;
}
#menu-3k .link,
#menu-3k .dropdown-item {
  color: #ffffff;
}
#menu-3k .link {
  font-size: 0.75rem;
}
#menu-3k .dropdown-item,
#menu-3k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3k .link:hover,
#menu-3k .dropdown-item:hover,
#menu-3k .link:focus,
#menu-3k .dropdown-item:focus {
  color: #c0a375;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-menu {
  background: #0e0e0e;
}
#menu-3k .nav-dropdown-sm .link:focus,
#menu-3k .nav-dropdown-sm .link:hover,
#menu-3k .nav-dropdown-sm .dropdown-item:focus,
#menu-3k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3k .navbar,
#menu-3k .nav-dropdown-sm,
#menu-3k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3k .bg-color.transparent.opened .link:hover,
#menu-3k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-3l .mbr-section-title,
#header3-3l .mbr-section-subtitle {
  text-align: center;
}
#contacts1-3n P {
  font-size: 14px;
  text-align: left;
}
#contacts1-3n .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-3r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3r .navbar-caption {
  color: #ffffff;
}
#menu-3r .navbar-toggler {
  color: #ffffff;
}
#menu-3r .close-icon::before,
#menu-3r .close-icon::after {
  background-color: #ffffff;
}
#menu-3r .link,
#menu-3r .dropdown-item {
  color: #ffffff;
}
#menu-3r .link {
  font-size: 0.75rem;
}
#menu-3r .dropdown-item,
#menu-3r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3r .link:hover,
#menu-3r .dropdown-item:hover,
#menu-3r .link:focus,
#menu-3r .dropdown-item:focus {
  color: #c0a375;
}
#menu-3r .link[aria-expanded="true"],
#menu-3r .dropdown-menu {
  background: #0e0e0e;
}
#menu-3r .nav-dropdown-sm .link:focus,
#menu-3r .nav-dropdown-sm .link:hover,
#menu-3r .nav-dropdown-sm .dropdown-item:focus,
#menu-3r .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3r .navbar,
#menu-3r .nav-dropdown-sm,
#menu-3r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3r .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3r .bg-color.transparent.opened .link:hover,
#menu-3r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3r .link[aria-expanded="true"],
#menu-3r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-3s .mbr-section-title,
#header3-3s .mbr-section-subtitle {
  text-align: center;
}
#contacts1-3t P {
  font-size: 14px;
  text-align: left;
}
#menu-4a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4a .navbar-caption {
  color: #ffffff;
}
#menu-4a .navbar-toggler {
  color: #ffffff;
}
#menu-4a .close-icon::before,
#menu-4a .close-icon::after {
  background-color: #ffffff;
}
#menu-4a .link,
#menu-4a .dropdown-item {
  color: #ffffff;
}
#menu-4a .link {
  font-size: 0.75rem;
}
#menu-4a .dropdown-item,
#menu-4a .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4a .link:hover,
#menu-4a .dropdown-item:hover,
#menu-4a .link:focus,
#menu-4a .dropdown-item:focus {
  color: #c0a375;
}
#menu-4a .link[aria-expanded="true"],
#menu-4a .dropdown-menu {
  background: #0e0e0e;
}
#menu-4a .nav-dropdown-sm .link:focus,
#menu-4a .nav-dropdown-sm .link:hover,
#menu-4a .nav-dropdown-sm .dropdown-item:focus,
#menu-4a .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4a .navbar,
#menu-4a .nav-dropdown-sm,
#menu-4a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4a .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4a .bg-color.transparent.opened .link:hover,
#menu-4a .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4a .link[aria-expanded="true"],
#menu-4a .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-4b .mbr-section-title,
#header3-4b .mbr-section-subtitle {
  text-align: center;
}
#contacts1-4c P {
  font-size: 14px;
  text-align: left;
}
#contacts1-4c .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 0.75rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #0e0e0e;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-4k .mbr-section-title,
#header3-4k .mbr-section-subtitle {
  text-align: center;
}
#contacts1-4l P {
  font-size: 14px;
  text-align: left;
}
#contacts1-4l .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
}
#menu-k .link {
  font-size: 0.75rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #c0a375;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0e0e0e;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
#msg-box8-4e .btn-positioning.clear {
  visibility: hidden;
}
#msg-box8-4e .logo-cell {
  height: 14.5em;
  display: flex;
}
#msg-box8-4e .logo-cell h3 {
  margin: auto;
}
#msg-box8-4e .logo-cell h3 img {
  max-height: 200px;
}
#msg-box8-4e .mbr-section-title,
#msg-box8-4e .lead {
  color: #fff;
}
#msg-box8-4e .parallax-header .btn-primary {
  min-width: 140px;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
#msg-box8-4e .parallax-header {
  padding-top: 110px;
  padding-bottom: 140px;
}
@media (min-width: 767px) {
  #msg-box8-4e .parallax-header .btn-secondary {
    width: 51%;
  }
  #msg-box8-4e .parallax-header .btn-positioning.first {
    margin-bottom: 8em;
  }
  #msg-box8-4e .parallax-header .btn-positioning.second {
    margin-top: 8em;
  }
}
@media (max-width: 767px) {
  #msg-box8-4e .parallax-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #msg-box8-4e .parallax-header .btn-positioning.first {
    float: left;
    width: 50%;
  }
  #msg-box8-4e .parallax-header .btn-positioning.second {
    float: right;
    width: 50%;
  }
}
#msg-box8-4e .parallax-header h3 img {
  max-width: 100%;
}
#header3-4k .mbr-section-title,
#header3-4k .mbr-section-subtitle {
  text-align: center;
}
#header3-4q .mbr-section-title,
#header3-4q .mbr-section-subtitle {
  text-align: center;
}
#header3-4s .mbr-section-title,
#header3-4s .mbr-section-subtitle {
  text-align: center;
}
#header3-4u .mbr-section-title,
#header3-4u .mbr-section-subtitle {
  text-align: center;
}
#header3-59 .mbr-section-title,
#header3-59 .mbr-section-subtitle {
  text-align: center;
}
#contacts1-4j P {
  font-size: 14px;
  text-align: left;
}
#contacts1-4j .mbr-footer-content p strong {
  color: #eeeeee;
}
#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
}
#menu-k .link {
  font-size: 0.75rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #c0a375;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0e0e0e;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#contacts1-1k P {
  font-size: 14px;
  text-align: left;
}
#contacts1-1k .mbr-footer-content p strong {
  color: #eeeeee;
}
